/* 
 Name: Emily Gaber
 File: Homework1.css
 Date Created: 6/17/2026
 Date Updated: 6/18/2026
 Purpose: Style sheet for my MIS 3371 website
 */
body { 
    line-height: 1.8;
    background-color:#330066;
    font-family: Garamond;
    color: #BF6CE2;
}  
 h1 {
    line-height: 1.8;
    text-align: center;
    font-family: Garamond;
    font-weight: normal;
    color: #BF6CE2;
    margin: auto
}
table.form, tr.form, td.form {
  line-height: 1.8;
  width: 70%;
  text-align: auto;
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  border-spacing: 00px;
  color:white;
  margin: auto
}
th.form {
font-size: 25px;
  line-height: 1.8;
  font-family:Garamond;
  background-color:#330066;
  padding: 30px;
  opacity: 0.5;
  border-spacing: 20px;
  color:#BF6CE2;
  margin-left: auto;
  margin-right: auto;
}
div.Thankform, tr.Thankform, td.Thankform {
  line-height: 1.8;
  width: 60%;
  font-size: 25px;
  align-items: center;
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  border-spacing: 00px;
  color:#BF6CE2;
  margin: auto
}
footer{
   line-height: 1.8;
  width: 60%;
  opacity: 0.7;
  font-family: Garamond;
  background-color:#111111;
  padding: 10px;
  border-spacing: 00px;
  color: #BF6CE2;
  margin: auto 
}
.textsize1 
{
    line-height: 1.8;
    width:10px
}
a {
  color: #d677ff; /* Replace with your hex, RGB, or named color */
}
.textsize5 
{
    line-height: 1.8;
    width:40px
}

    width:40px
}
