/* 
 Name: Emily Gaber
 File: Dahliahomework1.css
 Date Created: 6/17/2026
 Date Updated: 6/17/2026
 Purpose: Style sheet for my MIS 3371 website
 */
body {
    
    background-color:#330066;
    font-family: Garamond;
    color: #BF6CE2;
    margin: auto
}
 h1 {
    line-height: 1.6;
    text-align: center;
    font-family: Garamond;
    font-weight: normal;
    color: #BF6CE2;
    margin: auto
}
table.form, tr.form, td.form {
  line-height: 1.6;
  width: 70%;
  opacity: 0.9;
  font-family: Helvetica;
  background-color:#111111;
  padding: 10px;
  border-spacing: 00px;
  color:white;
  margin: auto
}
th.form {
 line-height: 1.6;
  font-family:Helvetica;
  background-color:#39295D;
  padding: 30px;
  border-spacing: 20px;
  color:white;
  margin-left: auto;
  margin-right: auto;
}
.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}
